---
apiVersion: batch/v1
kind: Job
metadata:
  namespace: spark-lama-exps
  name: {{jobname}}
spec:
  template:
    metadata:
      name: exp-test-pod
      labels:
        app: {{jobname}}
    spec:
      serviceAccountName: spark
      automountServiceAccountToken: true
      volumes:
        - name: spark-lama-data
          persistentVolumeClaim:
            claimName: spark-lama-data
            readOnly: True
        - name: spark-lama-chkp-data
          persistentVolumeClaim:
            claimName: spark-lama-chkp-data
            readOnly: False
#        - name: spark-lama-ivy2-cache
#          persistentVolumeClaim:
#            claimName: spark-lama-ivy2-cache
#            readOnly: True
        - name: exp-results-vol
          persistentVolumeClaim:
            claimName: exp-results-vol
            readOnly: False
        - name: scripts-volume
          configMap:
            name: {{jobname}}-scripts
      containers:
      - name: spark
        image: node2.bdcl:5000/spark-lama:3.9-3.2.0-1
        command: [ "python" ]
        args: ["/scripts/{{launchscript}}", "/scripts/config.yaml"]
        imagePullPolicy: Always
        volumeMounts:
          - mountPath: /opt/spark_data
            name: spark-lama-data
            readOnly: true
          - mountPath: /opt/spark_chkp_data
            name: spark-lama-chkp-data
            readOnly: false
#          - mountPath: /root/.ivy2/cache
#            name: spark-lama-ivy2-cache
#            readOnly: true
          - name: scripts-volume
            mountPath: /scripts
          - name: exp-results-vol
            mountPath: /exp_results
        resources:
          requests:
            memory: "16Gi"
            cpu: "4000m"
          limits:
            memory: "16Gi"
            cpu: "4000m"
      restartPolicy: Never
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values: [node10.bdcl]
  backoffLimit: 0
---
apiVersion: v1
kind: Service
metadata:
  namespace: spark-lama-exps
  name: {{jobname}}
spec:
  type: NodePort
  selector:
    app: {{jobname}}
  ports:
    - port: 4040
      targetPort: 4040
